footer
  .footer__deco

  .row.l-row-container
    .small-12.columns
      .footer__copyRight
        | © 2016 NEXON Korea Corporation and NEXON America Inc. All Rights Reserved

      
      ul.footer__social
   
        li
          a(href="#")
            .icon.icon-facebook
        li
          a(href="#")
            .icon.icon-twitter
        li
          a(href="#")
            .icon.icon-youtube
        li
          a(href="#")
            .icon.icon-tumblr

      .footer__links
        a(href="#") Privacy Policy
        span |
        a(href="#") Terms of Use


      .clearfix
