header
  .row.l-row-container
    .small-12.columns
      .header__col
        .header__logo.icon.icon-logo
        .header__leaf.icon.icon-leaf
      .header__col
        a.button1.button--scale-m.header__btn-show-point
          .button__icon.icon.icon-5
          | Show My Points
        a.button1.button--scale-m.header__btn-play 
          .button__icon.icon.icon-5
          | Play Free Now
      .clearfix