doctype html

html
  header
    meta(charset='utf-8')

  body
    form(action='/contact_receiver' method="post")
      p
        input(type="text" name='title')
      p
        textarea(name='description')
      p
        input(type="submit")

  