// ----------------------------------------- Body, link, a -----------------------------------------


body { background: $background-color; color: $body-font-color; transition: opacity 0.2s ease; }
html, body, p { outline:none; @extend %font-body; }
p { font-size: $font-body-size; margin-bottom: 1.8em; letter-spacing: 0.025em; } 
* , *:before , *:after { @include box-sizing(border-box);  }
*:focus { outline: none; }

a { color: $link-color; text-decoration: none; font-size: inherit; outline: none; @extend %font-family; font-weight: 400; @include transition( text-shadow 0.2s, color 0.3s );}  
a:hover { color: $link-color; }       


// ----------------------------------------- other standalone -----------------------------------------

strong { font-weight: bold; }
.bold { font-weight: bold; }
.center { margin: 0 auto; text-align: center; }
.element-center { margin: 0 auto; display:block; }
.hidden { display: none; }

 
/* clearfix is specified under those element to avoid conflict with gnt clearfix */
.l-page-container, .m-modal, header, footer {
  .clearfix {
    display: inline-block; height: 1%; display: block;
    &:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
  }
}


