- 
  var d = { 
    "global": {
      "name": "MapleStory",
      "title": "MapleStory",
      "keywords": "",
      "description": "",
      "ogImg": "",
      "url": "",
      "favicon": "//nxcache.nexon.net/all/favicon.ico"
    },
    "home": {
      hero: 'This is hero hehe'
    },
    "article": {
    
    }, 
  }
