// ----------------------------------------- Header -----------------------------------------

footer { width: 100%; position: relative; padding: 20px 10px; z-index: 4; color: $primary-color; font-size: 14px; line-height: 1.3em; }
.footer__deco { position: absolute; width: 50%; height: 3px; top: 0px; left: 0px; text-align: center; 

  
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 30%, rgba(99,182,197,1) 50%, rgba(255,255,255,0.62) 69%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 30%,rgba(99,182,197,1) 50%,rgba(255,255,255,0.62) 69%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 30%,rgba(99,182,197,1) 50%,rgba(255,255,255,0.62) 69%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */


  // background: rgba(white, 0.6);
  img { margin: 0 auto; width: 100%; height: auto; }
}

.footer__copyRight { float: left; margin-top: 3px; }
 
.footer__links {  margin-right: 2em; display: inline-block; float: right; 
  a { margin: 0 10px; text-decoration: underline; }
}  

.footer__social { margin: 0; text-align: center; display: inline-block; float: right; 
  li { display: inline-block; margin: 0 0.7em; text-align: center; display: inline-block; font-size: 18px;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
  }
}



@include breakpoint-c-max(982px) { 
  footer { text-align: center; }
  .footer__copyRight, .footer__links, .footer__social { display: block; float: none; margin: 0; }
  .footer__social { position: absolute; top: 5px; left: 0; width: 100%; }
  .footer__copyRight { margin: 40px 0 10px; }

}