// ----------------------------------------- Modal Pupup Modifier -----------------------------------------

.m-modal--share {  
  
  .m-modal__container { background: white; color: black; padding: 4.5em 2.0em 4em; max-width: 600px;
    @media #{$large-up } { padding: 4em 2.0em 4.2em; }
  }

  .m-modal__close-icon { color: black; right: 0.3em; top: 0.6em; }

}


 