// ----------------------------------------- Modal Pupup Modifier -----------------------------------------


// ******************************************************************
// ----------------------- Modifier for m-modal styles
// ******************************************************************

.m-modal--otherStyle {  
  
  .m-modal__container { background: #c7f3f3; color: $secondary-color; padding: 40px 10px 25px; max-width: 330px; border-radius: 5px; margin-top: 20px;
    @include breakpoint(large up) { padding: 50px 10px 25px; }
  }

  .m-modal__close-icon { color: #070f19; right: 0.8em; top: 0.6em; font-size: 23px; 
    .icon { color: inherit; }
  }

}

 

 