header
  .row.l-row-container
    .small-12.columns
      .header__col
        a(href="/" data-trackClick="Top nav > V-Logo, src" )
          .header__logo.icon.icon-logo
        
      .header__col

        span.header__play-free.points
          span
        +button1('CTA Button', '#', 'button--scale-m header__CTA')(dataTrackClick="Top nav > Show My Points, src")
 
        +button1('Play Free Now', '#', 'button--scale-m header__btn-play')(dataTrackClick="Top nav > Play Free Now, src")

      .clearfix


