extends ./../layouts/global.pug

block main
  .l-page-container

    .m-home-hero.l-container( data-trackSection="Home-Main" )
      .row.l-row
        .small-12.columns
          
          h1.m-home-hero__text Lorem Ipsum is simply dummy text

 
          .m-home-hero__video-thumb.ui-video-thumb.lightbox(href="https://www.youtube.com/watch?v=xNV1NBBNmXI", data-rel="hero-video")

            .ui-video-thumb__mediaWrapper
              video.ui-video-thumb__video-thumb(autoplay='', loop='', muted='')
                source(src= dynamicPath + 'images/home/video-preview.mp4', type='video/mp4')

              img.ui-video-thumb__img-thumb(src= dynamicPath + 'images/home/hero_video-thumb.jpg')
            .ui-video-thumb__btn
              .icon.icon-play
          .clearfix
          +button1('CTA BUTTON NOW', '/pre-reg.html', 'm-home-hero__cta-reg-button')

      //l-row ends
    //m-home-hero ends


    .m-home-usp.l-container( data-trackSection="Home-Prize" data-trackView="V Update, Home > Prize")   
      .row.l-row
        .small-12.columns

          img(src=dynamicPath + 'images/home/example.png')

    //m-home-usp ends
  //l-page-container ends           
    
