// ----------------------------------------- Header -----------------------------------------

header { width: 100%; padding: 10px 0; z-index: 4; background: rgba( 7,13,9, 0.8 ); position: fixed; top: 0;  }

.header__wrapper { width: 100%; max-width: 1200px; margin: 0 auto; 
 
}


 