// ----------------------------------------- Global Design assets -----------------------------------------


/* Layout for design_assets page. */

.ui-asset { position: relative; border-bottom: 1px solid rgba(255,255,255, 0.8);  }
.ui-asset__title {  }
.ui-asset__col { width: 45%; display: inline-block; vertical-align: top; }



// Special UI
@import "./_video-thumbnail";