header
  .row.l-row-container
    .small-12.columns
      .header__col
        a(href="/" data-trackClick="Top nav > V-Logo, src" )
          .header__logo.icon.icon-logo
        a(href="/" data-trackClick="Top nav > Official Site Link, src" ).header__link-to-main
          .icon.icon-symble.header__symble
          | Go to Main Site
      .header__col

        span.header__my-points.points
          span
        +button1('Show My Points', '#', 'button--scale-m header__btn-show-points show-my-points')(dataTrackClick="Top nav > Show My Points, src")
 
        +button1('Play Free Now', '#', 'button--scale-m header__btn-play ga-playgame')(dataTrackClick="Top nav > Play Free Now, src")

      .clearfix


