// ----------------------------------------- Global Design assets -----------------------------------------


/* Layout for design_assets page. ( This is not for other pages )*/

.ui-asset { padding: 3.0em 0; position: relative; border-bottom: 1px solid rgba(255,255,255, 0.8); padding: 4em 0; }
.ui-asset__title {  }
.ui-asset__col { width: 45%; display: inline-block; vertical-align: top; }



// ******************************************************************
// ----------------------- Video Thumbnail
// ******************************************************************

.ui-video-thumb {  
  
}
 