footer( data-trackView="V Update, Footer")
  .footer__deco
    span

  .footer__go-main-site
    .icon.icon-leaf 
    a(href="/" data-trackClick="Footer > Go To Main Site Link")  Go to main site


  .row.l-row-container
    .small-12.columns
      .footer__copyRight
        | © 2016 NEXON Korea Corporation and NEXON America Inc. All Rights Reserved

      
      ul.footer__social
   
        li
          a(href="https://www.facebook.com/maplestory" target="_blank" data-trackClick="Footer > Facebook")
            .icon.icon-facebook
        li
          a(href="https://twitter.com/maplestory" target="_blank" data-trackClick="Footer > Twitter")
            .icon.icon-twitter
        li
          a(href="https://www.youtube.com/user/MapleStory" target="_blank" data-trackClick="Global-No-Section,Footer > Youtube")
            .icon.icon-youtube
        //- li
        //-   a(href="/" target="_blank")
        //-     .icon.icon-tumblr

      .footer__links
        a(href="http://www.nexon.net/legal/privacy-policy/" target="_blank" data-trackClick="Footer > Privacy Policy")  Privacy Policy
        span |
        a(href="http://www.nexon.net/legal/terms-of-use/" target="_blank" data-trackClick="Footer > Terms of Use") Terms of Use


      .clearfix
