// ----------------------------------------- Header -----------------------------------------

header { width: 100%; z-index: z("header"); position: absolute; top: 0; left: 0; padding: 22px 0; }

.header__logo { font-size: 90px; color: white; @extend %logo; display: inline-block; transition: opacity 0.2s; margin-left: 10px;  // Fix for "logo pic looks slightly off because of its shape"
  &:hover { opacity: 0.75; }

}

@include breakpoint(medium only){ 
  header { padding: 0.1em 0; }
  .header__logo { font-size: 1em;  }

}


@include breakpoint(small only){ 
  header { padding: 0.6em 0; text-align: center; }
  .header__logo { font-size: 3em;  }
}


