// ----------------------------------------- Prize -----------------------------------------


.m-home-usp { color: $secondary-color; background: white;  }
.m-home-usp__title { @extend %font-title-5; }
.m-home-usp__col { display: inline-block; vertical-align: middle; width: 50%; 
  &:first-child { padding-right: 2em; }
}
.m-home-usp__p { @extend %font-xxl; color: $secondary-color; }
 
.m-home-usp__tell-me-more { margin-left: 0; }
.m-home-usp__show-my-points { margin-right: 0; }


@include breakpoint-c-max(880px) { 

  .m-home-usp__col { display: inline-block; vertical-align: middle; width: 100%; text-align: center;
    &:first-child { padding: 0; margin-bottom: 4em; }
    &:nth-child(2) { text-align: center; } 
  }
  .m-home-usp__p { font-size: 4em; }
  
}


@media #{$small-only } {
  .m-home-usp__col { 
    img { width: 60%; }
  }
}

 