header
  .row.l-row-container
    .small-12.columns
      .header__col
        a(href="/" data-trackClick="Top nav > V-Logo, src" )
          .header__logo.icon.icon-logo
        
      .header__col

 
        +button1('CTA Button', '#', 'button--scale-m header__CTA')(dataTrackClick="Top nav > Show My Points, src")
  

      .clearfix


