// ----------------------------------------- Hero -----------------------------------------


.m-home-hero { position: relative; background: url('../../images/home/hero_bg.jpg') center top no-repeat black; text-align: center; padding-top: 12.2em; padding-bottom: 2em;
  @media #{$large-up } { padding-top: 120px; }
  @media #{$small-only } { background: url('../../images/home/hero_bg-s.jpg') no-repeat #030f16; background-size: 100%; }
}

.m-home-hero__col { display: inline-block; vertical-align: top;
  
  &:nth-of-type(1){ width: 50%; position: relative;
    img { left: -2%;  position: relative; }
  }

  &:nth-of-type(2){
    width: 50%; margin-bottom: 60px;
  }

}
.m-home-hero__text { font-size: 40px; line-height: 1.2em; margin-bottom: 1em; }
.m-home-hero__text2 { color: $primary-color; font-size: 62px; font-weight: bold; margin-bottom: 1em;  }

.m-home-hero__video-thumb { width: 100%; max-width: 767px; }

.m-home-hero__cta-reg-button { margin-top: 1.05em; font-size: 30px; }


@media #{$medium-only } { 
  .m-home-hero__cta-reg-button { font-size: 3em; }
}


@media #{$small-only } {
  
  .m-home-hero__col { 
  
    &:nth-of-type(1){ width: 100%; position: relative;
      img {  width: 70%; left: 0; }
    }

    &:nth-of-type(2){
      width: 100%; margin-bottom: 3em;
    }

  }

  .m-home-hero__cta-reg-button { margin-top: 1.1em; font-size: 3em; }

  .m-home-hero__text {  font-size: 2.55em; margin-bottom: 0em; margin-bottom: -0.5em; }
  .m-home-hero__text2 { font-size: 4.0em; }
  .m-home-hero__video-thumb { width: 80%; }
  .ui-video-thumb__btn { font-size: 9em; }
}


