// ----------------------------------------- Header -----------------------------------------

header { width: 100%; padding: 8px 0; z-index: 4; background: rgba( 7,13,9, 0.8 ); position: fixed; top: 0; }

.header__wrapper { width: 100%; max-width: 1200px; margin: 0 auto; }


.header__logo { font-size: 7em; cursor: pointer;
  @media #{$large-up} { font-size: 40px; }
  @media #{$medium-only} { font-size: 5em; }
}

.header__col { display: inline-block;  
  &:nth-of-type(1) { float: left; width: 30%; 
    @media #{$small-only} { width: auto; }
  }
  &:nth-of-type(2) { float: right; text-align: right; width: 70%; 
    @media #{$small-only} { width: auto; }
  }
}


.header__btn-play { margin-right: 0; }

// if device is mobile

.mobile {
  .header__btn-play { display: none; }  
}