// ----------------------------------------- Global Design assets -----------------------------------------


/* Layout for design_assets page. ( This is not for other pages )*/

.ui-asset { padding: 3.0em 0; position: relative; border-bottom: 1px solid rgba(255,255,255, 0.8); padding: 4em 0; }
.ui-asset__title {  }
.ui-asset__col { width: 45%; display: inline-block; vertical-align: top; }



// ******************************************************************
// ----------------------- Video Thumbnail
// ******************************************************************

.ui-video-thumb { position: relative; display: inline-block; width: 431px; cursor: pointer;  
  @media #{$small-only} { width: 70%; }
  &:hover {
    .ui-video-thumb__btn { @extend %hover-effect-font; }
  }
}

.ui-video-thumb__mediaWrapper { position: absolute; border: 3px $secondary-color solid; border-radius: 3px; width: 95.5%; height: 93%; top: 50%; left: 2.1%; transform: translateY(-50%); background: #001e37; 
  overflow: hidden; 
  img { width: 100%; }
  @media #{$medium-only} {   }
  @media #{$small-only} {   }
}

/* hide video on mobile*/
body.mobile { 
  .ui-video-thumb__video-thumb { display: none; }
}

.ui-video-thumb__video-thumb { position: absolute; width: 105%; left: 0; top: 0; }
.ui-video-thumb__img-thumb { }

.ui-video-thumb__btn { position: absolute; width: 100%; left: 0; top: 50%; transition: text-shadow 0.22s; transform: translateY(-50%); font-size: 5em; text-align: center; 
  @media #{$large-up} { font-size: 6em; }
}






// ******************************************************************
// ----------------------- Split Line
// ******************************************************************


.ui-split-line { position: absolute; left: 0; top: 0; width: 100%; z-index: 1;
  span { width: 100%; display: inline-block; height: 40px;; max-width: 1920px; margin: 0 auto; background: url('../../images/global/assets/split-line.png') no-repeat center top;  }
}