// ----------------------------------------- Page Transition -----------------------------------------

.page-enter {
  opacity: 0.01; transition: opacity 800ms, left 800ms; position: relative; left: 30px;
}

.page-enter.page-enter-active {
  opacity: 1; left: 0;
}

.page-leave {
  opacity: 0;  
}

.page-leave.page-leave-active {
 
}
