/****************

  - These variables are defined as 'extend' or 'variable'. So that they can be used throughout other sass files. ( @import this _variables in order to use -

  Needs following foundation setting in foudnation/_settings
  - media query variables
  - primary-color ( optional )

****************/


// ----------------------------------------- Theme Colors -----------------------------------------


// ---------------- Overall theme colors

/* Main Background and body Color*/
$body-font-color: #fff;
$background-color: black;

/* $primary-color and $secondary-color are in setting.scss of foundation. */
$primary-color: yellow; //  Used on button1 and some background
$secondary-color: blue; // Used on some text, button2 
$third-color: #515151; // Grey  : Uses on some buttons
$fourth-color: #1f1f1f; // Dark Grey : Used on some background

$link-color: $primary-color;
$link-color-hover: green;

$link-color2: $secondary-color;
$link-color2-hover: #fff;

/*%link-color2 { color: $link-color2; 
  &:hover { color: $link-color2-hover; }
}*/

// ----------------------- Project Specific
 

/* font effect */

$hover-effect-color: #00dfd8;
%hover-effect-font { text-shadow: 0 0 8px rgba( $primary-color, 0.8), 0 0 3px rgba( $primary-color, 0.8);  } // green
%hover-effect-font2 { text-shadow: 0 0 10px rgba( $secondary-color, 1), 0 0 6px rgba( #00aace, 1); } // blue 
%hover-effect-element { box-shadow: 0 0 6px rgba( $primary-color, 0.8), inset 0 0 5px $primary-color; }
%hover-effect-element-png { filter: drop-shadow(0px 0px 3px rgba( $primary-color, 0.8) ); }





// ----------------------------------------- Fonts -----------------------------------------
/**** 
  Actual Classes are created in _fonts.scss in global/components folder 
*****/


// -------- Font Type

%font-family { font-family: 'Titillium Web', sans-serif; }
%font-body { @extend %font-family; font-weight: 400; line-height: 1.4em; }
// %font-body-light { @extend %font-family; font-weight: 300; line-height: 1.4em; }
%font-header { @extend %font-family; line-height: 1.1em; text-transform: uppercase; }


// -------- Font Size

/* This is body text. extend this for general paragraph. */
$font-body-size: 16px;


// General Header Tag

$font-header: (h1, 28px), (h2, 26px), (h3, 24px), (h4, 22px), (h5, 20px), (h6, 20px);

@each $place-holder, $size in $font-header {
    %#{$place-holder} {
      @extend %font-body;
      font-size: $size;
      line-height: 1.1em;
      margin-bottom: 0.6em;
      font-weight: 600;
    }
}

// Oversized Font Title

$font-titles: (font-title-1, 72px, 7.2em, 5.5em), (font-title-2, 62px, 6.2em, 5em), (font-title-3, 52px, 5.2em , 4.5em), (font-title-4, 42px, 4.2em, 4em ), (font-title-5, 32px, 3.2em, 3.5em), (font-title-6, 26px, 2.6em , 3em);

@each $place-holder, $large, $medium, $small in $font-titles {
    %#{$place-holder} {
      font-size: $large;
      line-height: 1.1em;
      margin-bottom: 0.4em;
      font-weight: 600;
      @extend %font-header;
      @media #{$medium-only} { font-size: $medium; letter-spacing: 0 !important; }
      @media #{$small-only} { font-size: $small; letter-spacing: 0 !important; }
    }
}


// Font P

$font-general: (font-xxl, 22px), (font-xl, 20px), (font-l, 18px), (font-m, 16px), (font-s, 14px), (font-xs, 12px);

@each $place-holder, $size in $font-general {
    %#{$place-holder} {
      font-size: $size;
      line-height: 1.4em;
      margin-bottom: 0.4em;
    }
}





// ----------------------------------------- All Inputs -----------------------------------------

$all-inputs-list: 'input[type="email"]',
                  'input[type="number"]',
                  'input[type="password"]',
                  'input[type="search"]',
                  'input[type="tel"]',
                  'input[type="text"]',
                  'input[type="url"]',

                  // Webkit & Gecko may change the display of these in the future
                  'input[type="color"]',
                  'input[type="date"]',
                  'input[type="datetime"]',
                  'input[type="datetime-local"]',
                  'input[type="month"]',
                  'input[type="time"]',
                  'input[type="week"]',
                  'textarea.form-control';

$all-inputs-list-hover: ();
@each $input-type in $all-inputs-list {
    $all-inputs-list-hover: append($all-inputs-list-hover, unquote('#{$input-type}:hover'), comma);
}

/*usage #{$all-inputs-list} { }, #{$all-inputs-list-hover}, { } */






// ----------------------------------------- Button Size -----------------------------------------
/**** 
  Actual Classes are created in _buttons.scss in global/components folder.
  fixed and scalable size should be same. ex) 13px > 1.3em
*****/


/* padding */
$button-padding: 0.3em 1.3em;

/* wide size padding */
$button-widePadding: 0.3em 0.6em;

/* fixed size */

$button-size-s: 14px;
$button-size-m: 17px;
$button-size-l: 20px;
$button-size-xl: 23px;
$button-size-xxl: 26px;

/* scalable size */
$button-size-s_em: 1.4em;
$button-size-m_em: 1.7em;
$button-size-l_em: 2.0em;
$button-size-xl_em: 2.3em;
$button-size-xxl_em: 2.6em;



// ----------------------------------------- z-index Manage -----------------------------------------

/* example z-index: z("modal");  z-index: z("modal") - 1; */

@function z($layer) {
  @return map-get($z-layers, $layer);
}

/* mapping ( array ) */

$z-layers: (
  modal     : 9000, 
  overlay   : 8000,
  dropdown  : 6000,
  header    : 4000,
  footer    : 2000
);




// ----------------------------------------- Media query  -----------------------------------------

// -------- Media Query

// used for media query  | not used. f5 is already offers their own media query. ( same set up as this )
// /* example @media #{$size-m} { property:value }*/
// /* # is escape purpose. variable only can store value but in order to store more than value, store them with "" then use #{$variable-name} when you call */

/* Portrait tablet to landscape and desktop */
// $size-ml: "(min-width: 768px) and (max-width: 979px)";
/* Landscape phone to portrait tablet */
// $size-m: "(max-width: 767px)";
/* Landscape phones and down */
// $size-s: "(max-width: 480px)";
