html
html
  body
    if(title)
      h1 This is detail of #{title}
      p #{data}

    else
      h1 We could not find file name
      h2 Please Go Back

    a(href="/topicList") Back to Topic List

  