extends ./layouts/global.pug

block main
  .l-page-container
 

  .test
  .test
  

    
  .text
    =d.name
    =dynamicPath
    =d.about.game
  //-
    .icon-aa
    
    img(src=dynamicPath + 'images/FB_Share.jpg')
    img(src=dynamicPath + 'images/FB_Share.jpg')

    //.l-container.l-container--show-deco-bottom

    .exmaple
    .exmaple2