extends ./layouts/global.pug

block main
  .l-page-container
 

  .test
    | Thisaasd

    =d.name
    =path
 
  
  img(src=path + 'images/FB_Share.jpg')
  img(src=path + 'images/FB_Share.jpg')

  //.l-container.l-container--show-deco-bottom

  .exmaple
  .exmaple2