// ----------------------------------------- postThumbnail -----------------------------------------

.m-home-postThumbnail { padding: 5em 0; background: $fourth-color; color: $primary-color; }


.m-home-postThumbnail__title { @extend %font-xxl; margin-bottom: 1.6em; 
  @media #{$small-only} { font-size: 1.8em; text-align: center; }
}

.m-home-postThumbnail__items { text-align: center;
  li { position: relative; display: inline-block; width: 31.5%; margin: 0 0.8% 3%; max-width: 431px; cursor: pointer; max-height: 334px;
    img {  } 
    &:hover {
      >img { @extend %hover-effect-element-png; }
    }

    @media #{$small-only} { width: 48%; }
  }
}

.m-home-postThumbnail__item-Wrapper { position: absolute; width: 96%; height: 94%; top: 50%; left:2%; transform: translateY(-50%); overflow: hidden; 
  &:hover { text-shadow: none; }
}

.m-home-postThumbnail__item-textWrapper { text-shadow: none; padding: 0.5em; height: 3.05em; overflow: hidden; font-size: 1.6em;  line-height: 1.2em; color: #bbe0e5; text-align: left; 
  @media #{$large-up} { font-size: 19px; }
 
}

.m-home-postThumbnail__item-video-icon { position: absolute; width: 100%; top: 50%; left:0; transform: translateY(-85%); font-size: 6em;
  @media #{$large-up} { font-size: 70px; }
}

.m-home-postThumbnail__share-button { float: right; margin-bottom: 1.6em; 
  &.bottom { margin-bottom: 0; }
}