// ----------------------------------------- Preview Post -----------------------------------------

// ******************************************************************
// ----------------------- Hero
// ******************************************************************

.m-home-previewPost { padding: 0;
  &.extended { }
}
.m-home-previewPost__hero { background: url('../../images/home/previewPost_bg.jpg') $fourth-color center top no-repeat; background-size: cover; padding: 11em 0 15em; border-bottom: 2px solid #025581; }
.m-home-previewPost__hero-a { @extend %font-xl; margin-top: 3.0em; display: inline-block;
  .icon { margin-left: 0.5em; transform: rotate(90deg); font-size: 1.4em; }
}
.m-home-previewPost__title { @extend %hover-effect-font2; @extend %font-title-5; text-transform: uppercase; }
.m-home-previewPost__text { @extend %hover-effect-font2; @extend %font-xl; }

.m-home-previewPost__btn { margin: 1.5em 0 0; }



@media #{$medium-only} {
  .m-home-previewPost__hero { background-size: 180%; }
  .m-home-previewPost__hero-a { font-size: 1.8em; }
  .m-home-previewPost__title { font-size: 2.8em; }
  .m-home-previewPost__text { font-size: 1.8em; }
}


@include breakpoint-c-max(700px) { 

  .m-home-previewPost__hero { background: url('../../images/home/previewPost_bg_s.jpg') no-repeat $fourth-color center top / 100% ; padding: 56em 0 4em;}
  .m-home-previewPost__hero { width: 100%; text-align: center; }
  .m-home-previewPost__title { font-size: 3.5em; }
  .m-home-previewPost__text { margin-bottom: 1em; font-size: 2.5em; }
  .m-home-previewPost__hero-a { margin-top: 1em; }
}

@include breakpoint-c-max(640px) {  
  .m-home-previewPost__hero { padding: 36em 0 8em; }
}




// ******************************************************************
// ----------------------- USP below 
// ******************************************************************


.m-home-previewPost__usp-wrapper { background: url('../../images/home/previewPost_section-bg.jpg') $fourth-color no-repeat center top / cover; border-bottom: 2px solid grey;  }
.m-home-previewPost__usp { position:relative; background: $fourth-color;
  &.section1 { margin-top: 5em; 

  }

}
.m-home-previewPost__col { width: 50%; display: inline-block; position:relative; 
  &.img { text-align: center; }
  &.for-small { display: none; }
}

.m-home-previewPost__usp-text-wrapper { position: absolute; width: 100%; top: 50%; transform: translateY(-50%); }

.m-home-previewPost__comingSoon { color: $primary-color; font-size: 1.8em; margin-top: 1.0em; text-transform: uppercase; font-style: italic; }

@include breakpoint-c-max(700px) {
  .m-home-previewPost__usp-wrapper { background: $fourth-color;  }
  .m-home-previewPost__usp { padding-bottom: 4em; }
  .m-home-previewPost__col { width: 100%;
 
    &.img.logo { 
      img { max-width: 60%; }
    }

    &.img { 
      img { max-width: 100%; }
    }
    &.for-small { display: block; }
    &.for-large { display: none; }
  }
  .m-home-previewPost__usp-text-wrapper {  position: static; text-align: center; transform: translateY(0); }
  
  .m-home-previewPost__comingSoon { font-size: 2.6em; margin-top: 0; }

  .m-home-previewPost__btn { margin-top: 0; }

}