- 
  var d = { 
    "global": {
      "name": "Project Name",
      "title": "Project Name",
      "trackingEventName": "Project Name",
      "keywords": "",
      "description": "",
      "ogImg": "",
      "url": "",
      "favicon": "//nxcache.nexon.net/all/favicon.ico"
    }
  }
