// ----------------------------------------- Fonts -----------------------------------------

// -------- General Header Tag
/*h1 { font-size: 36px; line-height: 1.1em; }*/

@each $class, $size in $font-header {
    #{$class} {
      @extend %#{$class};
    }
    
}

// -------- Oversized Font Title
/* creates font title classes from _variables */
/* ex) .font-title-s { font-size: 30px; }*/

@each $class, $size, $size-small in $font-titles {
    .#{$class} {
      @extend %#{$class};
    }
    
}

// -------- Font p
/* creates general fonts classes from _variables */
/*.font-s { font-size: 12px; }*/

@each $class, $size in $font-general {
    .#{$class} {
      @extend %#{$class};
    }
}

// -------- standalone for fonts

// .font-weight-none { font-weight: normal; }
// .font-weight-light { font-weight: 100; }
// .font-weight-normal  { font-weight: 300; }
// .font-italic { font-style: italic; }
// .font-uppercase { text-transform: uppercase; }
// .font-white { color: #fff; }
// .font-green { color: green; }
// .font-blue { color: #1067de; }
// .font-red{ color: red; }
// .font-sub, a.font-sub { opacity: 0.6 !important; } // less visible color then regular font.
// .font-shadow-light-grey { text-shadow: 1px 1px 0px rgba(255,255,255,0.3); }
// .font-primary-color { color: $primary-color}