// ----------------------------------------- global Layouts -----------------------------------------

// -------- Page Container
// Always start with page container.


.font-size-added {
  .l-page-container { @include animation('l-page-container .3s ease'); @include animation-fill-mode(forwards); }
}

.l-page-container { min-height: 350px; max-width: 1920px; margin: 0 auto 0; overflow: hidden; opacity: 0; }

/* extra touch - fadein inner contents with slight delay */
@include keyframes(l-page-container) {
  0% { opacity: 0; }
  45% { opacity: 0; }
  95% { opacity: 1; }
  100% { opacity: 1; }
}



// -------- row container
// Top container for each section to determin paddings.

/* Main container */
.l-container { padding: 7em 0px 7em; position:relative; background: url('img/FB_Share.jpg'); }

 

.l-container--show-deco-bottom { 
  &:after { width:100%; height: 13px; @include absolute(bottom 0 left 0); @include transform( translate( 0, 50% ) ); content: ''; }
}
.l-container--show-deco-top { 
  &:after { @extend .l-container--show-deco-bottom; top:0; bottom: auto; @include transform( translate( 0, -50% ) ); }
}

.l-container--no-padding { padding: 0; }


// -------- row container
// These row container is for top level row class to determine width size ( right below l-container )

/* Default ( for global container )*/
.l-row-container { max-width: 1920px;
/*    @media #{$small-only} { padding: 0 2.8em; }
    @include breakpoint-c-max(420px) { padding: 0 1.6em; } */
}

/* Custome ( for special container ) */
.l-row-container--m { max-width: 1000px; }
.l-row-container--l { max-width: 1200px; }
.l-row-container--xl { max-width: 1400px; }
.l-row-container--xxl { max-width: 1600px; }
.l-row-container--max { width: 100%; max-width: 1920px; }


/* For design_assets page*/

.asset-container { padding: 3.0em 0; border-bottom: 1px solid rgba(255,255,255,0.05) ; }
.asset-container__col { width: 45%; display: inline-block; vertical-align: top; }

 