// ----------------------------------------- global Layouts -----------------------------------------

// -------- Page Container
// Always start with page container.

.l-page-container { min-height: 350px; max-width: 1920px; margin: 0 auto 0; overflow: hidden; }



// -------- row container
// Top container for each section to determin paddings.

/* Main container */
.l-container { padding: 7em 0px 7em; position:relative; }
.l-container--no-padding { padding: 0; }




// -------- row container
// These row container is for top level row class to determine width size ( right below l-container )

/* Default ( for global container )*/
.l-row-container { max-width: 1335px;
/*    @media #{$small-only} { padding: 0 2.8em; }
    @include breakpoint-c-max(420px) { padding: 0 1.6em; } */
}

/* Custome ( for special container ) */
.l-row-container--m { max-width: 1000px; }
.l-row-container--l { max-width: 1200px; }
.l-row-container--xl { max-width: 1400px; }
.l-row-container--xxl { max-width: 1600px; }
.l-row-container--max { width: 100%; max-width: 1920px; }




 