html
html
  body
    h1 Creat New Topic
    
    form(action='/topicList/post' method='post')
      p
        input(type='text' name='title' placeholder='Title')

      p
        textarea(name='description' placeholder='Description')

      p
        textarea(name='author' placeholder='Author')

      p
        input(type='submit')



  