// ----------------------------------------- Hero -----------------------------------------


.m-home-hero { position: relative; text-align: center; padding-top: 12.2em; padding-bottom: 2em;
  background: url('../../images/home/hero_bg2.png') calc(50% - 30%) bottom no-repeat, url('../../images/home/hero_bg.jpg') center top no-repeat black;
  background-size: 1000px auto, auto auto;
  
}
 